.redColor {
    color: red;
}



@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;800&family=Public+Sans:wght@300&display=swap");

.footerSection {
    background-color: #252e58;
    background-image: linear-gradient(92deg,
            #252e58 7%,
            #625b9e 38%,
            #252e58 69%,
            #766fe5 98%);
}

.footbtn {
    font-size: 18px;
    font-family: emoji;
    color: white;
}

.footbtn:hover {
    color: black;
}

.socialicon {
    border: 2px solid white;
    border-radius: 100%;
    padding: 11px;
    font-size: 24px;
    color: white;
    width: 50px;
}

.socialicon:hover {
    color: black;
    background: white;
}

.fbicon {
    border: 2px solid white;
    border-radius: 60%;
    padding: 11px;
    font-size: 24px;
    width: 50px;
    color: white;
    width: 50px;
}

.fbicon:hover {
    color: black;
    background: white;
}

.logo {
    width: 355px;
    height: 80px;
    object-fit: cover;
}

.navbtn {
    color: white;
    background: #0b2f5b;
    font-size: 16px;
    font-family: emoji;
    border: 4px double;
    max-width: 150px;
}

.navbtn:hover {
    color: #0b2f5b;
    background: white;

}

.active {

    color: #0b2f5b;
    background: white;
}

.login {
    color: white;
    background: #d3230c;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 150px;
    padding: 3px;
    border-radius: 15px;
}

.paystub {
    background-color: #252e58;
    background-image: linear-gradient(96deg,
            #252e58e8 5%,
            #6361d3 46%,
            #07a96cd9 100%);
    width: 100%;
}

.instant {
    color: white;
    font-family: "Futura LT";
    font-size: 58px;
}

.QUICK {
    color: white;
    line-height: 0.5em;
    font-size: 22px;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: "Futura LT";
    margin-bottom: 80px;
}

.Generate {
    width: 312px;
    border-radius: 63px;
    background-color: #f20a0a;
    display: table-cell;
    font-weight: 700;
    margin: auto;
    font-size: x-large;
    color: white;
    font-family: "Futura LT";
}

.Generate1 {
    border-radius: 63px;
    background-color: #ff0000;
    display: table-cell;
    font-weight: 600;
    font-size: x-large;
    color: white;
    padding: 10px 54px;
    font-family: "Futura LT";
}

.storbtn {
    width: 165px;
    height: 50px;
}

.ukp {
    font-size: 42px;
    font-weight: 400;
    margin: 0;
    font-family: "Futura LT";
}

.ukh1 {
    font-size: 46px;
    font-family: "Futura LT";
}

.ukp1 {
    font-weight: 200;
    font-size: 16px;
    color: black;
    font-family: "Futura LT";
}

.ukli {
    font-size: 20px;
    font-weight: 200;
    font-family: "Futura LT";
}

.img2 {
    width: 1200px;
    object-fit: fill;
}

.createSample {
    background-color: #6d8507;
    background-image: linear-gradient(135deg,
            #6d8507 0%,
            #eeab49 50%,
            #c1bef6 100%);
}

.WithPaystubX {
    font-size: 52px;
    font-weight: 600;
    font-family: "Futura LT";
}

.Show {
    font-size: 50px;
    font-weight: 500;
    font-family: "Futura LT";
}

.Createpay {
    font-size: 33px;
    font-family: "Futura LT";
    font-weight: 600;
}

.proof {
    font-size: 20px;
}

.img4 {
    width: 400px;
    height: 720px;
    object-fit: fill;
}

.img5 {
    width: 900px;
    object-fit: fill;
}

.OnPaystub {
    font-size: 20px;
    color: #0e0e0e;
    position: absolute;
    bottom: -156px;
    left: 272px;
    font-weight: 200;
    line-height: 35.5px;
}

.calculations {
    background: #42419e;
}

.salary {
    width: 117px;
    height: 117px;
}

.Accurate {
    background-color: #b3dade;
}

.boxAccurate {
    background-color: black;
}

.vedios {
    background: #ff6261;
}

.Payslips {
    font-size: 24px;
    line-height: 2.5rem;
    text-align: left;
    padding: 0px 0px 0px 55px;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.PayslipsGlo {
    font-size: 18px;
    line-height: 2rem;
    text-align: left;
    /* padding: 0px 0px 0px 22px; */
    font-weight: 200;
    letter-spacing: 1px;
}

.ukimg {
    /* Created with https://www.css-gradient.com */
    background: #773e85;
    background: -webkit-linear-gradient(bottom, #773e85, #e84265);
    background: -moz-linear-gradient(bottom, #773e85, #e84265);
    background: linear-gradient(to top, #773e85, #e84265);
}

.saveTime {
    background-color: #6d8507;
    background-image: linear-gradient(135deg,
            #6d8507 0%,
            #faaa63 50%,
            #c9c6ff 100%);
}

.needw2 {
    /* Created with https://www.css-gradient.com */
    background: #3022ad;
    background: -webkit-linear-gradient(top left, #3022ad, #d5469e);
    background: -moz-linear-gradient(top left, #3022ad, #d5469e);
    background: linear-gradient(to bottom right, #3022ad, #d5469e);
}

.fromimg {
    width: 115px;
}

.formp {
    font-size: 24px;
    line-height: 1.6em;
    /* font-family: none; */
    font-weight: 200;
}

@media screen and (max-width: 1024px) {
    .globe-p {
        font-size: 29px !important;
    }

    .formimg1 {
        width: 500px;
    }

    .QUICK {
        line-height: 1;
    }

    .instant {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .list-outer {
        padding: 0px 16px;
    }
}

@media screen and (max-width: 768px) {
    .PayslipsGlo {
        text-align: center;
    }

}

@media screen and (max-width: 425px) {
    .storbtn {
        width: 127px;
        height: 43px;
    }

    h1.uk-big-heading {
        font-size: 20px;
    }

    h2.uk-big-heading {
        font-size: 20px;
    }

    .ukh1 {
        font-size: 20px !important;
        font-weight: 800;
    }

    .Payslips {
        font-size: 20px;
        line-height: 1.7em;
        font-weight: 200;
    }

    .formimg1 {
        width: 451px;
    }

    .formimg2 {
        width: 353px;
    }
}

@media screen and (max-width: 1440px) {

    .globleImg {
        max-width: 1500px;
        height: 700px;
    }

    .ukp {
        font-size: 30px;
    }

    .ukh1 {
        font-size: 30px;
    }

    .CreatePaystub {
        width: 312px;
        height: 64px;
        border-radius: 63px;
        background-color: #ff4040;
        font-weight: 700;
        margin: auto;
        font-size: xx-large;
        font-family: "Futura LT";
    }

    .template-box {
        border: 2px #a0a0a0 solid;
    }

    .tempangle {
        color: #e827a5;

        font-size: 50px;
        font-weight: 800;
    }
}

