.redColor {
    color: red;
}

.textInputFontSize {
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;800&family=Public+Sans:wght@300&display=swap');

.footerSection {
    background-color: #252e58;
    background-image: linear-gradient(92deg, #252e58 7%, #625b9e 38%, #252e58 69%, #766fe5 98%);


}

.footbtn {
    font-size: 18px;
    font-family: emoji;
    color: white;

}

.footbtn:hover {

    color: black;

}

.socialicon {
    border: 2px solid white;
    border-radius: 100%;
    padding: 11px;
    font-size: 24px;
    color: white;
    width: 50px;

}

.socialicon:hover {
    color: black;
    background: white;
}

.fbicon {
    border: 2px solid white;
    border-radius: 60%;
    padding: 11px;
    font-size: 24px;
    width: 50px;
    color: white;
    width: 50px;

}

.fbicon:hover {
    color: black;
    background: white;
}

.logo {
    width: 355px;
    height: 80px;
    object-fit: cover;
}

.navbtn {
    color: white;
    background: #0B2F5B;
    font-size: 16px;
    font-family: emoji;
    border: 4px double;
    max-width: 150px;

}

.navbtn:hover {
    color: #0B2F5B;
    background: white;
}

.active {
    color: #0B2F5B;
    background: white;

}

.login {
    color: white;
    background: #d3230c;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 150px;
    padding: 3px;
    border-radius: 15px;
}

.paystub {
    background-color: #252e58;
    background-image: linear-gradient(96deg, #252e58e8 5%, #6361d3 46%, #2a5960 100%);
    width: 100%;
}

.instant {

    color: white;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-weight: 400;
    font-size: 58px;
}

.QUICK {

    color: white;
    line-height: 0.5em;
    font-size: 22px;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 200;

}

.Generate {
    font-family: serif;
    width: 312px;
    height: 56px;
    border-radius: 63px;
    background-color: #f20a0a;
    display: table-cell;
    font-weight: 700;
    margin: auto;
    font-size: x-large;
    color: white;
}

.Generate1 {
    font-family: serif;
    /* width: 399px; */
    /* height: 24px; */
    border-radius: 63px;
    background-color: #ff0000;
    display: table-cell;
    font-weight: 600;
    /* margin: auto; */
    font-size: x-large;
    color: white;
    padding: 10px 54px;
}

.storbtn {
    width: 165px;
    height: 50px;

}

.ukp {
    font-size: 42px;
    font-weight: 400;
    margin: 0;
}

.ukh1 {
    font-size: 46px;
}

.ukp1 {
    font-weight: 200;
    /* font-family: sans-serif; */
    font-size: 16px;
    color: black;
}

.ukli {
    font-size: 20px;
    font-weight: 200;
}

.img2 {
    width: 1200px;
    object-fit: fill;
}

.createSample {
    background-color: #6d8507;
    background-image: linear-gradient(135deg, #6d8507 0%, #faaa63 50%, #c9c6ff 100%);
}

.WithPaystubX {

    font-size: 52px;
    font-weight: 500;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;


}

.Show {

    font-size: 50px;
    font-weight: 300;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;

}

.Createpay {
    font-size: 33px;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

.proof {
    font-size: 20px;
}

.img4 {
    width: 400px;
    height: 720px;
    object-fit: fill;
}

.img5 {
    width: 900px;
    object-fit: fill;
}

.OnPaystub {
    font-size: 20px;
    color: #0e0e0e;
    position: absolute;
    bottom: -156px;
    left: 272px;
    font-weight: 200;
    line-height: 35.5px;
}

.calculations {
    background: #42419e;

}

.salary {
    width: 117px;
    height: 117px;
}

.Accurate {
    background-color: #b3dade;

}

.boxAccurate {
    background-color: black;
}

.vedios {
    background: #ff6261;

}


.Payslips {

    font-size: 24px;
    line-height: 2.5rem;
    text-align: left;
    padding: 0px 0px 0px 55px;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.PayslipsGlo {

    font-size: 18px;
    line-height: 2rem;
    text-align: left;
    /* padding: 0px 0px 0px 22px; */
    font-weight: 200;
    letter-spacing: 1px;
}

.ukimg {
    /* Created with https://www.css-gradient.com */
    background: #773E85;
    background: -webkit-linear-gradient(bottom, #773E85, #E84265);
    background: -moz-linear-gradient(bottom, #773E85, #E84265);
    background: linear-gradient(to top, #773E85, #E84265);
}

.saveTime {
    background-color: #6d8507;
    background-image: linear-gradient(135deg, #6d8507 0%, #faaa63 50%, #c9c6ff 100%);
}

.needw2 {
    /* Created with https://www.css-gradient.com */
    background: #3022AD;
    background: -webkit-linear-gradient(top left, #3022AD, #D5469E);
    background: -moz-linear-gradient(top left, #3022AD, #D5469E);
    background: linear-gradient(to bottom right, #3022AD, #D5469E);
}

.ukimg1 {
    background-position-x: left;
    left: -166px;
}

.imguk {
    width: 800px;
}

.fromimg {
    width: 115px;
}

.formp {
    font-size: 24px;
    line-height: 1.6em;
    /* font-family: none; */
    font-weight: 200;
}

.form-main-img {
    background-position-x: left;
    left: -155px;
}



@media screen and (max-width: 1024px) {
    .imguk {
        width: 667px;
    }

    .form-main-img {
        background-position-x: left;
        left: -38px;
    }

    .formimg1 {
        width: 500px;
    }

    .QUICK {
        line-height: 1;
    }

    .instant {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .imguk {
        width: 500px;
    }

    .ukimg1 {
        background-position-x: left;
        left: 0px;
    }

    .PayslipsGlo {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .storbtn {
        width: 127px;
        height: 43px;
    }

    .Generate {
        font-family: serif;
        /* width: 399px; */
        /* height: 24px; */
        border-radius: 63px;
        background-color: #ff0000;
        display: table-cell;
        font-weight: 600;
        margin: auto;
        font-size: 20px;
        color: white;
        padding: 3px 21px;
    }

    .Payslips {
        font-size: 20px;
        line-height: 1.7em;
        font-weight: 200;
    }

    .formimg1 {
        width: 451px;
    }

    .formimg2 {
        width: 353px;
    }

    .imguk {
        width: 355px;
    }
}

@media screen and (max-width: 375px) {
    .imguk {
        width: 260px;
    }
}

.couple {
    max-width: 1086px;
}

@media screen and (max-width:1440px) {
    .couple {
        max-width: 904px;
    }

    .globleImg {
        max-width: 1500px;
        height: 700px;
    }

    .ukp {
        font-size: 30px;

    }

    .ukh1 {
        font-size: 30px;
    }
}


.CreatePaystub {
    font-family: serif;
    width: 312px;
    height: 64px;
    border-radius: 63px;
    background-color: #FF4040;
    font-weight: 700;
    margin: auto;
    font-size: xx-large;

}

.template-box {
    border: 2px #a0a0a0 solid;
}

.tempangle {
    color: #e827a5;
    ;
    font-size: 50px;
    font-weight: 800;

}