.usericon{
        border: 1px solid black;
        border-radius: 100px;
        width: 57px;
    
        text-align: center;
        /* margin: auto; */
        padding-top: 0px;
        font-size: 34px;
    
}

td, th {
    border: none;
    text-align: left;
    padding: 12px;
    font-size: 16px;
}
.userbtn {
    border: 2px solid #795548;
    border-radius: 100px;
    padding: 5px 21px 5px 21px;
    background: white;
    color: #795548;
}
.pen{
    border: 1px solid #2196f3bd;
    font-size: 28px;
    border-radius: 100px;
    width: 47px;
    height: 47px;
    margin: auto;
    text-align: center;
}
.delbtn{
    padding: 2px 25px 2px 25px;
    font-size: 23px;
    background: red;
    color: white;
    border: none;

}
.delpdf{
    padding-left: 40px;
}
.user-checkbtn{
    background: red;
    color: white;
    border: none;
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    border-radius: 100px;
    margin-bottom: 8px;

}
.fa-download:hover{
   
    font-size: 18px;
}
.prizebox {
    border-radius: 95px 2px 95px 0;
    text-align: center;
    position: relative;
    z-index: 4;
    height: 442px;
    width: 251px;
    margin-bottom: 34px;
    background-color: white;
}
.prizebox::before {
    position: absolute;
    content: "";
    width: 343px;
    height: 70px;
    background-image: url(/images/tag.png);
    left: 157px;
    top: 100px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
}
.prizebox::after {
    position: absolute;
    content: "";
    /* width: 325px; */
    height: 73px;
    background-image: url(/images/sel.png);
    width: 60%;
    left: -19px;
    border-radius: 4px;
    bottom: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}
.prizebox1 {
    border-radius: 95px 2px 95px 0;
    text-align: center;
    position: relative;
    z-index: 4;
    height: 442px;
    width: 251px;
    margin-bottom: 34px;
    background-color: white;
}
.prizebox1::before {
    position: absolute;
    content: "";
    width: 343px;
    height: 70px;
    background-image: url(/images/blue1.png);
    left: 157px;
    top: 100px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
   
}
.prizebox1::after {
    position: absolute;
    content: "";
    /* width: 325px; */
    height: 73px;
    background-image: url(/images/blue2.png);
    width: 60%;
    left: -19px;
    border-radius: 4px;
    bottom: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}

.prizebox2 {
    border-radius: 95px 2px 95px 0;
    text-align: center;
    position: relative;
    z-index: 4;
    height: 442px;
    width: 251px;
    margin-bottom: 34px;
    background-color: white;
}
.prizebox2::before {
    position: absolute;
    content: "";
    width: 343px;
    height: 70px;
    background-image: url(/images/green1.png);
    left: 157px;
    top: 100px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
   
}
.prizebox2::after {
    position: absolute;
    content: "";
    /* width: 325px; */
    height: 73px;
    background-image: url(/images/green2.png);
    width: 60%;
    left: -19px;
    border-radius: 4px;
    bottom: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}
.prize-p{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
}
.priceicon{
    font-size: 30px;
    color: green;
   
}
.prizeh3{
    font-size: 35px;
    font-weight: 800;
    color: #e6363b;
}