.usericon {
    border: 1px solid black;
    border-radius: 100px;
    width: 57px;

    text-align: center;
    /* margin: auto; */
    padding-top: 0px;
    font-size: 34px;

}

td,
th {
    border: none;
    text-align: left;
    padding: 12px;
    font-size: 16px;
}

.userbtn {
    border: 2px solid #795548;
    border-radius: 100px;
    padding: 5px 21px 5px 21px;
    background: white;
    color: #795548;
}

.pen {
    border: 1px solid #2196f3bd;
    font-size: 28px;
    border-radius: 100px;
    width: 47px;
    height: 47px;
    margin: auto;
    text-align: center;
}

.delbtn {
    padding: 7px 13px;
    font-size: 20px;
    background: red;
    color: white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: var(--label-align);
    min-width: 100%;
    width: -moz-max-content;
    width: max-content;
}

.downloiadBtn {
    color: #8B6755;
    border-style: outside;
    background: #FFFFFF;
    border-radius: 50px;
    border: 2px solid rgb(139, 103, 85);
    align-items: center;
    box-sizing: border-box;
    justify-content: var(--label-align);
    width: -moz-max-content;
    width: max-content;
}

.delbtn:hover {
    background: rgb(60, 109, 141);
    color: white;
    text-decoration: none;
}

.delpdf {
    padding-left: 40px;
}

.user-checkbtn {
    background: #FF0000;
    color: white;
    border: none;
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    border-radius: 100px;
    margin-bottom: 8px;

}

.user-checkbtn:hover {
    text-decoration: none;
    color: #fff;
    background: #5c4343;
}

.previewbtnInvoice {
    background-image: linear-gradient(#e7a0a0, red);
    font-size: 20px !important;
    align-items: center;
    display: flex;
    width: -moz-max-content;
    width: max-content;
    color: #ffffff;
    padding: 6px 35px;
    border: none;
    border-radius: 4px;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .6));
}

.previewbtnInvoice:hover {
    text-decoration: none;
    color: white;
}

.fa-download:hover {

    font-size: 18px;
}

.prizebox {
    border-radius: 95px 2px 95px 0;
    text-align: center;
    position: relative;
    z-index: 4;
    height: 520px;
    width: 300px;
    margin-bottom: 34px;
    background-color: white;
}

.prizebox::before {
    position: absolute;
    content: "";
    width: 343px;
    height: 70px;
    background-image: url(/images/tag.png);
    left: 205px;
    top: 100px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;
}

.prizebox::after {
    position: absolute;
    content: "";
    /* width: 325px; */
    height: 73px;
    background-image: url(/images/sel.png);
    width: 60%;
    left: -21px;
    border-radius: 4px;
    bottom: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}

.prizebox1 {
    border-radius: 95px 2px 95px 0;
    text-align: center;
    position: relative;
    z-index: 4;
    height: 520px;
    width: 300px;
    margin-bottom: 34px;
    background-color: white;
}

.prizebox1::before {
    position: absolute;
    content: "";
    width: 343px;
    height: 70px;
    background-image: url(/images/blue1.png);
    left: 205px;
    top: 100px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;

}

.prizebox1::after {
    position: absolute;
    content: "";
    /* width: 325px; */
    height: 73px;
    background-image: url(/images/blue2.png);
    width: 60%;
    left: -21px;
    border-radius: 4px;
    bottom: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}

.prizebox2 {
    border-radius: 95px 2px 95px 0;
    text-align: center;
    position: relative;
    z-index: 4;
    height: 520px;
    width: 300px;
    margin-bottom: 34px;
    background-color: white;
}

.prizebox2::before {
    position: absolute;
    content: "";
    width: 343px;
    height: 70px;
    background-image: url(/images/green1.png);
    left: 205px;
    top: 100px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: contain;

}

.prizebox2::after {
    position: absolute;
    content: "";
    /* width: 325px; */
    height: 73px;
    background-image: url(/images/green2.png);
    width: 60%;
    left: -21px;
    border-radius: 4px;
    bottom: 27px;
    background-repeat: no-repeat;
    background-size: contain;
}

.prize-p {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
}

.priceicon {
    font-size: 30px;
    color: green;

}

.prizeh3 {
    font-size: 35px;
    font-weight: 800;
    color: #e6363b;
}

.text-light {
    color: #f8f9fa !important;
    padding: 4px;
    font-weight: 600;
}

.prizeHeader {
    background: linear-gradient(to bottom, rgba(64, 150, 238, 1) 0%, rgba(64, 150, 238, 1) 48%, rgba(66, 123, 247, 1) 50%, rgba(66, 123, 247, 1) 99%);
}

.prizeHeader:hover {
    background: linear-gradient(to bottom, rgb(57 191 33) 0%, rgb(41 177 7) 48%, rgb(40 193 11) 50%, rgb(61 195 18) 99%)
}

.listItem {
    border-bottom: 1px solid #b39a9a;
    margin-bottom: 0.9em;
}