@font-face {
    font-family: 'Crossten Ultra';
    src: url('Crossten-Ultra.woff2') format('woff2'),
        url('Crossten-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-BoldItalic.woff2') format('woff2'),
        url('Crossten-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-ExtraBold.woff2') format('woff2'),
        url('Crossten-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-BlackItalic.woff2') format('woff2'),
        url('Crossten-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten Ultra';
    src: url('Crossten-UltraItalic.woff2') format('woff2'),
        url('Crossten-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-SemiBoldItalic.woff2') format('woff2'),
        url('Crossten-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-Black.woff2') format('woff2'),
        url('Crossten-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-ExtraBoldItalic.woff2') format('woff2'),
        url('Crossten-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-Light.woff2') format('woff2'),
        url('Crossten-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-Book.woff2') format('woff2'),
        url('Crossten-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-ThinItalic.woff2') format('woff2'),
        url('Crossten-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-Medium.woff2') format('woff2'),
        url('Crossten-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-ExtraLight.woff2') format('woff2'),
        url('Crossten-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-MediumItalic.woff2') format('woff2'),
        url('Crossten-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-ExtraLightItalic.woff2') format('woff2'),
        url('Crossten-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-Thin.woff2') format('woff2'),
        url('Crossten-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-BookItalic.woff2') format('woff2'),
        url('Crossten-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-Bold.woff2') format('woff2'),
        url('Crossten-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-SemiBold.woff2') format('woff2'),
        url('Crossten-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossten';
    src: url('Crossten-LightItalic.woff2') format('woff2'),
        url('Crossten-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

