@font-face {
    font-family: 'MICR';
    src: url('MICR-Plain.woff2') format('woff2'),
        url('MICR-Plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

