.createbtn{
    padding: 10px 64px;
    border-radius: 32px;
    background-color: red;
    color: white;
    border: 1px solid white'';
    border: 1px solid #ffffffad;
    font-size: 20px;
}
.netimg{
    width: 181px;
    height: 172px;
    margin-right: 10px;
}
.netimg1{
    width: 181px;
    height: 172px;
    margin-right: 10px;
}
.box-usa{
    border: 3px solid #fe0f10;
    padding: 10px;
    background: #787b7e47;
    padding: 32px 19px;
    border-radius: 8px;
}
.lable{
    font-size: 12px;
    color: #1f1414cc;
}
#fname{
    font-size: 13px;
    /* color: #ce1f1f; */
    border-radius: 6px;
    border: 1px solid #0000004d;

}
.dropdown1{
    width: 80%;
    padding: 2px;
    border: 1px solid #00000036;
    border-radius: 6px;
    text-align: center;
    background: #ffffff;
}
.viewbtn{
    font-size: 13px;
    color: #010101;
    background: yellow;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 7px 20px;
    border: none;
    border-radius: 36px;
}
.hourbtn{
    padding: 4px 16px;
    border-radius: 59px;
    color: white;
    /* background: red; */
    border: none;
    font-size: 13px;
    background-image: linear-gradient(45deg, #f90000, #e7898975);

}
.salrybtn{
    padding: 4px 16px;
    border-radius: 59px;
    color: white;
    /* background: red; */
    border: none;
    font-size: 13px;
    background-image: linear-gradient(45deg, #28a745, #f0f0f00d);
}
.statementbtn{
    font-size: 14px;
    width: 100%;
    padding: 9px 10px;
    background: #2d5781;
    color: white;
    border: none;
    border-radius: 5px;
}
.earnbtn{
    font-size: 16px;
    width: 100%;
    padding: 9px 10px;
    background: #ffffff;
    color: #0d0c0b;
    /* border: none; */
    border-radius: 5px;
    border: 3px solid red;
}
.netpaybtn{
    font-size: 21px;
    width: 100%;
    padding: 6px 10px;
    background: #2d5781;
    color: white;
    border: none;
    border-radius: 5px;
}
.emailbtn{
    font-size: 21px;
    color: #ffffff;
    background: #12c23a;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 10px 59px;
    border: none;
    border-radius: 36px;

}
#name{
    border-radius: 12px;
    border: navajowhite;
    padding: 11px;
    box-shadow: 6px 6px 1px 3px #e0b8b8;
}
.finame{
    font-size: 13px;
    padding: 0px 1px;
    margin: 5px;
    color: #000000ab;
}
.sendbtn{
    padding: 6px 27px;
    border: none;
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    /* box-shadow: 1px 2px 3px 4px; */
    box-shadow: 6px 6px 1px 1px #d8aeae;
}
.sendbtn:hover{
    background-color: #c38585;
color: white;
border: 1px solid white ;
}
#name:hover{
    border:1px solid black;
    
}

p{
    
}
.pay-box{
    border: 1px solid #0000008c;
    padding: 26px 27px;
    background: white;
    font-weight: 200;
    text-align: center;
    font-size: 19px;
}
.pay-box1{
    border: 1px solid #0000008c;
    padding: 11px;
    background: white;
    font-weight: 200;
    text-align: center;
    font-size: 17px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 26px;
   
  }
  
  .sidenav a {
   
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebtn{
    box-shadow: 6px 4px 2px 4px #334f7459;
    width: 53%;
    border-radius: 12px;
    margin: auto;
    /* padding: 0px 0px; */
    text-align: center;
    margin-bottom: 16px;
    background-color: #252e58;
    background-image: linear-gradient(96deg, #252e58 5%, #3f3e95 46%, #2a5960 100%);

  }
  
  .sidebtn1{
    box-shadow: 6px 4px 2px 4px #e9d1d3;
    width: 53%;
    color: white !important;
    background: #d3230c;
    font-size: 16px;
    font-family: emoji;
    /* border: 4px double; */
    padding: 3px;
    border-radius: 15px;
    margin: auto;
   

  }
  

.sidebtn:hover{
    border:1px solid black;
}









   
  @media screen and (min-width: 1155px) {
    .opennav{
        display: none;
    }
  }
  @media screen and (max-width: 1155px) {
    .Payslips {
        font-family: serif;
        font-size: 14px;
        line-height: 2em;
    }
   
  }
@media screen and (max-width: 1129px) {
    .navbar {
        display: none;
      
     }
     
   }

@media screen and (max-width: 600px) {
   .pay-box1 {
     
    }
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  