.createbtn{
    padding: 10px 64px;
    border-radius: 32px;
    background-color: red;
    color: white;
    border: 1px solid white'';
    border: 1px solid #ffffffad;
    font-size: 20px;
}
.netimg{
    width: 181px;
    height: 172px;
    margin-right: 10px;
}
.netimg1{
    width: 181px;
    height: 172px;
    margin-right: 10px;
}
.box-usa{
    border: 3px solid #fe0f10;
    padding: 10px;
    background: #787b7e47;
    padding: 32px 19px;
    border-radius: 8px;
}
.box-usa1{
    border: 3px solid #fe0f10;
    padding: 10px;
    background: #ffffff;
    padding: 32px 19px;
    border-radius: 10px;
    margin-left: 30px

}

.lable{
    font-size: 12px;
    color: #1f1414cc;
}
#fname{
    font-size: 13px;
    /* color: #ce1f1f; */
    border-radius: 6px;
    border: 1px solid #0000004d;

}
.dropdown1{
    width: 80%;
    padding: 2px;
    border: 1px solid #00000036;
    border-radius: 6px;
    text-align: center;
    background: #ffffff;
}
.viewbtn{
    font-size: 13px;
    color: #010101;
    background: yellow;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 7px 20px;
    border: none;
    border-radius: 36px;
}
.hourbtn{
    padding: 4px 16px;
    border-radius: 59px;
    color: white;
    /* background: red; */
    border: none;
    font-size: 13px;
    background-image: linear-gradient(45deg, #f90000, #e7898975);

}
.salrybtn{
    padding: 4px 16px;
    border-radius: 59px;
    color: white;
    /* background: red; */
    border: none;
    font-size: 13px;
    background-image: linear-gradient(45deg, #28a745, #f0f0f00d);
}
.statementbtn{
    font-size: 14px;
    width: 100%;
    padding: 9px 10px;
    background: #2d5781;
    color: white;
    border: none;
    border-radius: 5px;
}
.earnbtn{
    font-size: 16px;
    width: 100%;
    padding: 9px 10px;
    background: #ffffff;
    color: #0d0c0b;
    /* border: none; */
    border-radius: 5px;
    border: 3px solid red;
}
.netpaybtn{
    font-size: 21px;
    width: 100%;
    padding: 6px 10px;
    background: #2d5781;
    color: white;
    border: none;
    border-radius: 5px;
}
.emailbtn{
    font-size: 21px;
    color: #ffffff;
    background: #12c23a;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 10px 59px;
    border: none;
    border-radius: 36px;

}
#name{
    border-radius: 12px;
    border: navajowhite;
    padding: 11px;
    box-shadow: 6px 6px 1px 3px #e0b8b8;
}
.finame{
    font-size: 13px;
    padding: 0px 1px;
    margin: 5px;
    color: #000000ab;
}
.sendbtn{
    padding: 6px 27px;
    border: none;
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    /* box-shadow: 1px 2px 3px 4px; */
    box-shadow: 6px 6px 1px 1px #d8aeae;
}
.sendbtn:hover{
    background-color: #c38585;
color: white;
border: 1px solid white ;
}
#name:hover{
    border:1px solid black;
    
}

p{
    
}
.pay-box{
    border: 1px solid #0000008c;
    padding: 26px 27px;
    background: white;
    font-weight: 200;
    text-align: center;
    font-size: 19px;
}
.pay-box1{
    border: 1px solid #0000008c;
    padding: 11px;
    background: white;
    font-weight: 200;
    text-align: center;
    font-size: 17px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 26px;
   
  }
  
  .sidenav a {
   
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebtn{
    box-shadow: 6px 4px 2px 4px #334f7459;
    width: 53%;
    border-radius: 12px;
    margin: auto;
    /* padding: 0px 0px; */
    text-align: center;
    margin-bottom: 16px;
    background-color: #252e58;
    background-image: linear-gradient(96deg, #252e58 5%, #3f3e95 46%, #2a5960 100%);

  }
  
  .sidebtn1{
    box-shadow: 6px 4px 2px 4px #e9d1d3;
    width: 53%;
    color: white !important;
    background: #d3230c;
    font-size: 16px;
    font-family: emoji;
    /* border: 4px double; */
    padding: 3px;
    border-radius: 15px;
    margin: auto;
   

  }
  .earnbtn1{
    font-size: 21px;
    width: 100%;
    padding: 9px 10px;
    background: #ff0000;
    color: #ffffff;
    /* border: none; */
    border-radius: 34px;
    border: 1px solid #ffffff;

  }

.sidebtn:hover{
    border:1px solid black;
}
input:hover{
    box-shadow: 5px 5px 1px 3px #0000002b;
    color: black !important;
    border: 1px solid #d82e2e !important;
}
 .dropdown1:hover {
    box-shadow: 5px 5px 1px 3px #0000002b;
    color: black !important;
    border: 1px solid #d82e2e !important;
    background: #df5b5b45;
 } 
.viewbtn:hover{
    border: 1px solid #d1da1a;
    background-color: white;
    box-shadow: 5px 5px 1px 3px #4848390f;
    color: red;
}
.earnbtn:hover{
    color: white;
    background-image: linear-gradient(45deg, #c905058a, #2c578175);
    border: 2px solid white;
    border-radius: 7px;
}


.earnbtn1:hover{
    color: white;
    /* background-image: linear-gradient(45deg, #88cc24f2, #090a0a75); */
    border: 2px solid white;
    border-radius: 36px;
    background: #8bcc32;

}

.statementbtn:hover{
    background-color: white;
    color: #2c5781;
    border: 2px solid #2c5781;
    font-weight: 400;
}
.emailbtn:hover{
    background: white;
    color: #40924a;
    border: 1px solid green;
    box-shadow: 6px 5px 4px 0px #00000066;

}



.google-btn {
    width: 203px;
    height: 54px;
    background-color: google-blue;
    border-radius: 6px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);
    margin: auto;

}
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
    }
    .google-icon {
        position: absolute;
    margin-top: 11px;
    margin-left: 1px;
    width: 42px;
    height: 31px;
    border-right: 1px solid;
    }
    .btn-text {
        float: right;
        margin: 14px 11px 0 0;
        color: $white;
        font-size: 16px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
        margin-right: 3px;
    }
    &:hover {
      box-shadow: 0 0 6px $google-blue;
    }
    &:active {
      background: $button-active-blue;
    }
  



    .singup{
        border: 1px solid #bcd6f3;
    padding: 10px;
    border-radius: 9px;
    width: 60%;
}
.continue{
    padding: 10px 29px;
    border: none;
    border-radius: 26px;
    background: red;
    color: white;
}
.icon{
    width: 152px;
}
.mail{
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    width: 80px;
    height: 76px;
    box-shadow: 1px 2px 13px 8px #0303031a;
    text-align: center;
    margin: auto;
}
.mailpic{
    width: 62px;
    padding: 12px;
    height: 65px;
}
.singup1{
    border: 2px solid #ff0000;
    padding: 10px;
    border-radius: 9px;
    width: 64%;
    font-size: 13px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-size: 11px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:500);

















   
  @media screen and (min-width: 1155px) {
    .opennav{
        display: none;
    }
  }
  @media screen and (max-width: 1155px) {
    .Payslips {
        font-family: serif;
        font-size: 14px;
        line-height: 2em;
    }
   
  }
@media screen and (max-width: 1129px) {
    .navbar {
        display: none;
      
     }
     
   }



   @media screen and (max-width: 1024px) {
.create-container li{
font-size: 10px;
}
.create-p{
    font-size: 8px;
    }
   }
@media screen and (max-width: 600px) {
   .pay-box1  {
     
    }
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  