.createbtn{
    padding: 1px 40px;
    border-radius: 5px;
    background-color: #ef2d22;
    color: white;
    border: 1px solid rgb(232, 102, 102)'';
    
    font-size: 24px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}
.createbtn2{
    padding: 0px 58px;
    border-radius: 1px;
    background-color: #178a9380;
    color: white;
    border: 1px black;
    font-size: 24px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));

}
.netimg{
    width: 181px;
    height: 172px;
    margin-right: 10px;
}
.netimg1{
    width: 181px;
    height: 172px;
    margin-right: 10px;
}
.box-usa{
    border: 3px solid #FF6161;
    padding: 10px 155px 12px 12px;
    background: #E8E6E6;
  
    border-radius: 2px;
}
.box-usa1{
    border: 2px solid #fe0f10;
    padding: 10px;
    background: #ffffff;
    padding: 32px 19px;
    border-radius: 10px;
    margin-left: 30px

}

.lable{
    color: #000000;
    font-weight: 400;
    margin: 0;
    font: var(--font_2);
}

#fname{
    border: 1px solid #00000075;
}

#fname:hover{
    box-shadow: 5px 5px 1px 3px #0000002b;
    background: #244b1f;
}

.mmenu{
    width: 67%;
}

.ukbtn{
    font-size: 16px;
    width: 100%;
    padding: 4px 10px;
    /* background: #ffffff; */
    color: #1608ea;
    /* border: none; */
    border-radius: 5px;
    border: 2px solid #ff0000a3;
    text-align: left;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
    /* color: var(--corvid-color,rgb(var(--txt,var(--color_15)))); */
    font-weight: 700;
}
.dropdown1{
    width: 50% !important;
    padding: 6px;
    border: 1px solid #00000080;
    /* border-radius: 6px; */
    background: #ffffff;
    margin: auto;
    font-size: 23px;
    font-weight: 500;
    position: relative !important;
}
.down{
    position: absolute;
    right: 238px;
    top: 48px;
    font-size: 37px;
    font-weight: bold;
    z-index: 1223;
}
.down1{
    position: absolute;
    right: 150px;
    top: 48px;
    font-size: 37px;
    font-weight: bold;
    z-index: 1223;
}
.dropdown11{
    width: 100%;
    padding: 5px;
    border: 1px solid #00000080;
    /* border-radius: 6px; */
    background: #ffffff;
    margin: auto;
    font-size: 17px;
}
.viewbtn{
    font-size: 14px;    
    color: #010101;
    background: yellow;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    font-weight: 700;

}
.hourbtn{
    padding: 8px 16px;
    border-radius: 3px;
    color: white;
    /* background: red; */
    border: none;
    font-size: 15px;
    background-image: linear-gradient(45deg, #f8760ce3, #e78989);   
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
}
.hourbtn:hover{
    color: rgb(7, 7, 7);
    background: #eebebe;
}
.salrybtn{
    padding: 8px 16px;
    border-radius: 3px;
    color: white;
    /* background: red; */
    border: none;
    font-size: 15px;
    background-image: linear-gradient(45deg, #f70303, #f84d45);
}
.statementbtn{
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    background: #074151;
    color: white;
    border: none;
    border-radius: 2px;
}
.earnbtn{
    font-size: 16px;
    width: 100%;
    padding: 4px 10px;
    /* background: #ffffff; */
    color: #1608ea;
    /* border: none; */
    border-radius: 5px;
    border: 2px solid #ff0000a3;
    text-align: left;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
    /* color: var(--corvid-color,rgb(var(--txt,var(--color_15)))); */
    font-weight: 700;
}
.netpaybtn{
    font-size: 28px;
    width: 100%;
    padding: 0px 10px;
    background: #0ec23b;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}

#name{
    border-radius: 12px;
    border: navajowhite;
    padding: 11px;
    box-shadow: 6px 6px 1px 3px #e4bfae;

}

.finame{
    font-size: 13px;
    padding: 0px 1px;
    margin: 5px;
    color: #000000ab;
}
.shd{
    box-shadow: 5px 0px #888888;
}
.sendbtn{
    padding: 6px 27px;
    border: none;
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    /* box-shadow: 1px 2px 3px 4px; */
    box-shadow: 6px 6px 1px 1px #e4bfae;
}
.sendbtn:hover{
    background-color: #e4bfae;
color: white;
border: 1px solid white ;
}
#name:hover{
    border:1px solid black;
    
}
.previewbtn{
    font-size: 23px;
    color: #ffffff;
    background: #ef2e21;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 2px 35px;
    border: none;
    border-radius: 4px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}

    

.pay-box{
    border: 1px solid #0000008c;
    padding: 26px 27px;
    background: white;
    font-weight: 200;
    text-align: center;
    font-size: 19px;
}
.pay-box1{
    border: 1px solid #0000008c;
    padding: 11px;
    background: white;
    font-weight: 200;
    text-align: center;
    font-size: 17px;
}
/*style the arrow inside the select element:*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
select:after {
    position: absolute;
    content: "\2304";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f9f9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 26px;
   
  }
  
  .sidenav a {
   
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebtn{
    box-shadow: 6px 4px 2px 4px #334f7459;
    width: 53%;
    border-radius: 12px;
    margin: auto;
    /* padding: 0px 0px; */
    text-align: center;
    margin-bottom: 16px;
    background-color: #252e58;
    background-image: linear-gradient(96deg, #252e58 5%, #3f3e95 46%, #2a5960 100%);

  }
  
  .sidebtn1{
    box-shadow: 6px 4px 2px 4px #e9d1d3;
    width: 53%;
    color: white !important;
    background: #d3230c;
    font-size: 16px;
    font-family: emoji;
    /* border: 4px double; */
    padding: 3px;
    border-radius: 15px;
    margin: auto;
   

  }
  .earnbtn1 {
    font-size: 18px;
    width: 60%;
    padding: 0px 4px;
    background: #e9e6e6;
    color: #141212;
    /* border: none; */
    border-radius: 4px;
    border: 2px solid #ff6261;
}
  .emailbtn {
    font-size: 21px;
    color: #ffffff;
    background: #12c23a;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 6px 59px;
    border: none;
    border-radius: 4px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}
.emailbtn2 {
    font-size: 19px;
    color: #ffffff;
    background: #12c23a;
    /* background-image: radial-gradient(white, #6bb0fd); */
    padding: 3px 53px;
    border: none;
    border-radius: 4px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}
.sidebtn:hover{
    border:1px solid black;
}
input:hover{
    box-shadow: 5px 5px 1px 3px #0000002b;
    
    border: 1px solid #244b1f !important;
    background: #244b1f;
    color: white !important;

}
 .dropdown1:hover {
    box-shadow: 5px 5px 1px 3px #0000002b;
    color: black !important;
    border: 1px solid #d82e2e !important;
    background: #df5b5b45;
 } 
.viewbtn:hover{
    border: 1px solid #d1da1a;
    background-color: white;
    box-shadow: 5px 5px 1px 3px #4848390f;
    color: red;
}
.earnbtn:hover{
    color: white;
    background-image: linear-gradient(45deg, #a70404d6, #cd7570);
    border: 2px solid #0b0a0a;
    border-radius: 4px;
}
.fa-lock:hover{
    color: black!important;
}

.earnbtn1:hover{
    color: white;
    background-image: linear-gradient(45deg, #a70404d6, #cd7570);
    border: 2px solid #0b0a0a;
    border-radius: 4px;

}

.statementbtn:hover{
    background-color: #064151a8;
    color: #ffffff;
    /* border: 2px solid #2c5781; */
    font-weight: 400;

}
.emailbtn:hover{
    background: white;
    color: #40924a;
    border: 1px solid green;
    box-shadow: 6px 5px 4px 0px #00000066;

}



.google-btn {
    width: 203px;
    height: 54px;
    background-color: google-blue;
    border-radius: 6px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 25%);
    margin: auto;

}
    .google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
    }
    .google-icon {
        position: absolute;
    margin-top: 11px;
    margin-left: 1px;
    width: 42px;
    height: 31px;
    border-right: 1px solid;
    }
    .btn-text {
        float: right;
        margin: 14px 11px 0 0;
        color: $white;
        font-size: 16px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
        margin-right: 3px;
    }
    &:hover {
      box-shadow: 0 0 6px $google-blue;
    }
    &:active {
      background: $button-active-blue;
    }
  



    .singup{
        border: 1px solid #bcd6f3;
    padding: 10px;
    border-radius: 9px;
    width: 60%;
}
.continue{
    padding: 10px 29px;
    border: none;
    border-radius: 26px;
    background: red;
    color: white;
}
.icon{
    width: 152px;
}
.mail{
    padding: 10px;
    border-radius: 100%;
    text-align: center;
    width: 80px;
    height: 76px;
    box-shadow: 1px 2px 13px 8px #0303031a;
    text-align: center;
    margin: auto;
}
.mailpic{
    width: 62px;
    padding: 12px;
    height: 65px;
}
.singup1{
    border: 2px solid #ff0000;
    padding: 10px;
    border-radius: 9px;
    width: 64%;
    font-size: 13px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-size: 11px;
  }
  
  tr:nth-child(even) {
   
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:500);

h5{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: serif;
}

.recipt-box{
    border: 1px solid red;
}

.rec-box-border{
    padding: 1px 20px;
    border: 1px solid red;
}











   
  @media screen and (min-width: 1155px) {
    .opennav{
        display: none;
    }
  }
  @media screen and (max-width: 1155px) {
    .Payslips {
        font-family: serif;
        font-size: 14px;
        line-height: 2em;
    }
   
  }
@media screen and (max-width: 1129px) {
    .navbar {
        display: none;
      
     }
     
   }



   @media screen and (max-width: 1024px) {
.create-container li{
font-size: 10px;
}
.create-p{
    font-size: 8px;
    }
   }
@media screen and (max-width: 600px) {
   .pay-box1  {
     
    }
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  